{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "lf",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.handlebars",
      "options": {
        "parser": "html"
      }
    }
  ]
}
