<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{> meta}}
    <title>Τράπεζα θεμάτων</title>
	<link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/public/assets/favicon.ico" type="image/x-icon">
    {{> css}}
	<noscript>
		<style>
			.initHidden{
				display: block;
			}
		</style>
	</noscript>
</head>
<body>
{{> nav}}
{{{body}}}
{{> donate}}
{{> scripts}}
{{> ga}}
</body>
</html>
