<div class="container">
  <div class="col-xs-12">
    <h2 class="text-center">Πληροφορίες</h2>
    <div class="well">
      <p class="text-center h4">
        Το παρόν website είναι μια πλατφόρμα που επιτρέπει την οργανωμένη
        ανταλλαγή θεμάτων προηγούμενων εξεταστικών.
        <br />
        Τα θέματα είναι σε μορφή φωτογραφιών και μπορεί να τα
        <a href="/upload">ανεβάσει</a>
        ο καθένας.
      </p>
      <hr />
      <p class="text-center h4">
        Για οποιαδήποτε πρόταση, σχόλιο ή πρόβλημα χρησιμοποιήστε την
        <a href="/contact">φόρμα επικοινωνίας</a>
        ή ανοίξτε ένα νέο
        <a
          href="https://github.com/stsourlidakis/teiste-exams/issues"
          target="_blank"
          rel="noopener"
          >GitHub issue</a
        >.
      </p>
      <hr />
      <p class="text-center h4">
        Αναπτύχθηκε και συντηρείται από τον
        <a href="https://stsourlidakis.com" target="_blank" rel="noopener"
          >Σταύρο Τσουρλιδάκη</a
        >
        και ο πηγαίος κώδικας βρίσκεται στο
        <a
          href="https://github.com/stsourlidakis/teiste-exams"
          target="_blank"
          rel="noopener"
          >GitHub</a
        >
        σαν λογισμικό ανοιχτού κώδικα υπό την άδεια
        <a
          href="https://tldrlegal.com/license/mit-license"
          target="_blank"
          rel="noopener noreferrer"
          >MIT</a
        >.
      </p>
    </div>
  </div>
</div>
