<div class="container">
  <div class="col-xs-12">
    <h2 class="text-center">
      Σφάλμα!
      <i class="fa fa-frown-o" aria-hidden="true"></i>
    </h2>
    <p class="text-center h4">
      Κάτι πήγε στραβά, παρακαλώ δοκιμάστε ξανά.
      <br />
      <br />
      <a href="/">Επιστροφή στην αρχική σελίδα</a>
    </p>
  </div>
</div>
