<div class="container">
	{{> mainTitle}}
	<form method="post" action="/upload" enctype="multipart/form-data" id="photoUploadForm">
		<input type="file" name="image" required autocomplete="off" />
		<br>
		<input name="courseName" id="courseNameInput" placeholder="Μάθημα" list="coursesList" class="course-input" required autocomplete="off" />
		<datalist id="coursesList">
		{{#each courses}}
			<option class="courseAutocompleInput">{{this.name}}</option>
		{{/each}}
		</datalist>
		<select name="year" required>
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
		</select>
		<select name="period">
			<option value="Ιανουάριος">Ιανουάριος</option>
			<option value="Ιούνιος">Ιούνιος</option>
			<option value="Σεπτέμβριος">Σεπτέμβριος</option>
		</select>
		<br>
		<input type="submit" value="upload" />
	</form>
	<div id="uploadResultMessage" class="{{#if error}}fail{{else}}success{{/if}}">{{resultMessage}}</div>
</div>