<fieldset>
	<legend>Upload</legend>
	<form method="post" action="/upload" enctype="multipart/form-data">
		<input type="file" name="image" />
		<br>
		<input autocomplete="off" name="course" placeholder="Μάθημα" list="coursesList" class="course-input" />
		<datalist id="coursesList">
		{{#each courses}}
			<option>{{this}}</option>
		{{/each}}
		</datalist>
		<select name="year">
			<option value="2010">2010</option>
			<option value="2011">2011</option>
			<option value="2012">2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
		</select>
		<br>
		<input type="submit" value="upload" />
	</form>
	{{resultMessage}}
</fieldset>