<div class="container">
	<h1 class="text-center">Available Analytics</h1>
	<hr>
	<div class="list-group col-sm-4 col-sm-offset-4">
		<a href="/analytics/list/search" class="list-group-item">
			<h3 class="list-group-item-heading text-center">
				Course search <i class="fa fa-search" aria-hidden="true"></i>
			</h3>
			<p class="list-group-item-text">What users searched before navigating to a course gallery.</p>
		</a>
	</div>
</div>
