<div class="container">
  <ul class="breadcrumb">
    <li><a href="/analytics/list">Analytics</a></li>
    <li class="active">Server uptime</li>
  </ul>
  <h1 class="text-center">The server is up since</h1>
  <hr />
  <div class="col-sm-12 text-center">
    <h2>{{serverStarted}}</h2>
  </div>
</div>
