.initHidden{
	display: none;
}

.no-padding-top{
	padding-top: 0;
}

.noItems *{
	cursor: not-allowed;
}

.withItems .courseHeader, .imageModalInvoke{
	cursor: pointer;
}

.noItems .courseHeader .fa-caret-down, .noItems .courseHeader .fa-caret-up{
	color: #d9534f;
}

.withItems .courseHeader .fa-caret-down, .withItems .courseHeader .fa-caret-up{
	color: #428bca;
}

.noItems .courseHeader .badge{
	background: #d9534f;
}

.yearList .year:hover{
	background: #2780E3;
	color: #eee;
}
.yearList .year:hover .badge{
	background: #fff;
	color: #2780E3;
}

.semester-wrapper{
	background: #e6e6e6;;
	padding: 25px 32px 5px 32px;
}

.awesomplete{
	display: block;
}
